@import "../../assets/styles/variables";
@import "../../assets/styles/devices";

.settings-page {
  height: 100%;

  .content {
    width: 100%;

    .settings-options {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    a {
      width: 100%;
    }

    @include tablet {
      flex-direction: row;
      margin-top: $separatorTopMobile;
    }
  }
}
